@model connectbook.Models.Livro

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Livro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCategoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCategoria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAutor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAutor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoConservacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoConservacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataPublicacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataPublicacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Isbn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Isbn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClassificacaoIndicativa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClassificacaoIndicativa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Foto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Resumo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Resumo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QtdPaginas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QtdPaginas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisponivelDoacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisponivelDoacao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
