@model connectbook.Models.Livro

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Livro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_usuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_categoria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_autor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_autor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.estado_conservacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.estado_conservacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.data_publicacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.data_publicacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isbn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isbn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.classificacao_indicativa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.classificacao_indicativa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.foto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.foto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.resumo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.resumo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.qtd_paginas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.qtd_paginas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.disponivel_doacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.disponivel_doacao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
